body {
    background-image: url('https://57.media.tumblr.com/9348a3347757267167ed4b81dafbf430/tumblr_o35t15yIx11v6lkbfo1_500.gif');
    background-repeat: none;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #b4b4bf;
}

/*========================*/
/*HEADER*/
header, #planets-container {
    background: #26292a;
    padding: 1em;
    opacity: .8;
    border-bottom: 1px solid grey;
}

#planets-container {
    box-shadow: 0px 32px 37px -6px #010104;
}

nav > h1 {
    text-align: center;
}

nav > ul {
    display: inline;
    text-align: center;
}

nav > ul > li {
    display: inline;
    padding: 1em;
    opacity: .6;
    font-size: 1em;
}

nav > ul > li:nth-child(2) {
    display: none;
}

nav > ul > li:hover {
    opacity: .9;
}

a {
    text-decoration: none;
    color: #b4b4bf;
}

a:hover {
    opacity: .9;
}

/*========================*/
/*PLANETS IN NAV PLANET CONTAINER*/

#planets-container {
    padding: 1em;
}

#planets-container > div {
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 9%;
    padding-bottom: 9%;
    text-align: center;
}

#mercury {
    background-image: url('http://www.veryicon.com/icon/ico/System/Qs%20Vista%20Ready%20Icons/QsMercury.ico');  
    margin-left: 1.5em;
}

#venus {
    background-image: url('http://jplanets.sourceforge.net/images/venus.png');
}

#earth {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/43/The_Earth_seen_from_Apollo_17_with_transparent_background.png');
}

#mars {
    background-image: url('http://img3.wikia.nocookie.net/__cb20130916161813/factfinder/images/c/c5/Mars-1-.png');
}

#jupiter {
    background-image: url('http://www.zaxtor.net/jupiter.png');
}

#saturn {
    background-image: url('http://www.zaxtor.net/Saturn.png');  
}

#uranus {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/3D_Uranus.png/235px-3D_Uranus.png');   
}

#neptune {
    background-image: url('http://2.bp.blogspot.com/-y_OFG87gMmg/Ti52HrOjY3I/AAAAAAAAAL8/FY9Be8Q3RJ0/s1600/neptune.png');   
}

#pluto {
    background-image: url('http://www.icone-gif.com/icone/png/planets/pluto.png');  
    margin-right: 1.5em;
}

/*========================*/
/*VENUS CSS*/

.fire {
    width: 25%;
    margin: .5%;
    height: 150px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/bb/Mgn_p39146.png');
    display: inline-block;
    text-align: center; 
    opacity: .9;
    border-radius: 3%;
}
 
#a.fire, #b.fire, #c.fire, #d.fire, #e.fire, #f.fire, #g.fire, #h.fire, #i.fire {
    width: 25%;
    margin: 1%;
    height: 100px;
    background-color: red;
    display: inline-block;
}   

/*========================*/
/*NEPTUNE CSS*/

#memory_board {
    /*background: ;*/
    /*border: #999 1px solid;*/
    width: 58em;
    height: 540px;
    padding: 24px;
    margin: 0px auto;
}

#memory_board > div {
    background: blue ;
/*  color: ;*/
    /*border: #000 1px solid;*/
    width: 91px;
    height: 91px;
    float: left;
    margin: 5px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

#memory_board > div:hover {
    opacity: .8;
}

/*========================*/

#clickBox {
    float:right;
    margin-right: 3%;
    color: white;   
    text-align: center;
}

#venus-board{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #26292A;
    opacity: .8;
    width:80%;
}

#playBox {
    border: 1px solid white;
    border-radius: 10px;
    background-color: #26292A;
    opacity: .8;
    text-align: center;
    width: 30%;
    margin-left: 35%;
} 

#x {
    width:65%;
    /*float: left;*/
}

button {
    background-color: #2E0854;
    color: white;
}

/*========================*/
/*MARS CSS*/

#mars-board {
    border: 1px solid white;
    border-radius: 10px;
    background-color: #26292A;
    opacity: .8;
    width:80%;
    color: white;
}
 
#fixed {
  position: fixed;
}

.ring {
  width:40px;
  height: 40px;
  background-size: contain;
  background-image: url('http://img01.deviantart.net/e093/i/2013/228/4/f/stock_image___saturn_rings_by_alpha_element-d6ifske.png');
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count:infinite;
  display: inline-block;
  /*display: inline-block;*/
 
}

#mars-count {
    float: right;
    margin-right: 10%;
    margin-bottom: 40%;
    text-align: center;
}
/*========================*/
/*SATURN CSS*/

#saturn-board {
    border: 1px solid white;
    border-radius: 10px;
    background-color: #26292A;
    opacity: .8;
    width:80%;
    color: white;
}

.ring {
    width:40px;
    height: 40px;
    background-size: contain;
    background-image: url('http://img01.deviantart.net/e093/i/2013/228/4/f/stock_image___saturn_rings_by_alpha_element-d6ifske.png');
 	animation-name: example;
 	animation-duration: 10s;
  	animation-iteration:infinite;
  	display: inline-block;
	}

@keyframes example {
    0%   {margin-top:1%;}
    100% {margin-top:100px; }
}   

/*========================*/
/*PLUTO */

textarea {
    border: 1px solid white;
    border-radius: 10px;
    background-color: #26292A;
    opacity: .8;
    color:white;
    font-weight: 900;
}

.messageBox {    
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    opacity: .8;
    color: black;
    /*font-weight: 900;*/
}

/*========================*/
/*URANUS*/

#uranus_board {
    color: white;
    background-color: white;
    /*border: 2px solid white;*/
    height: 500px;
    /*width: 80%;
    padding: 5%*/;
}

table {
    background-color:  ;
    height: 200px;
    width: 200px;
}

tr {

    background-color: white;

}

.minefiled {
    line-height: 0;
    border-spacing: 0;
}

.minefiled td {
    padding: 0;

}

button {
    background-color:white;
    color: black;
}

.tile {
    background-color: blue;
    opacity:;
}


/*========================*/
/*MEDIA FOR RESPONSIVE DESIGN*/

@media (min-width: 660px) {
    h1 {
        display: inline;
    }

    nav > ul > li {
        display: inline;
        padding: 1em;
        font-size: 1em;
    }

    nav > ul > li:nth-child(2) {
        display: inline;
    }

/*====================*/
#uranus_board {
	color: white;
	background-color: ;
	/*border: 2px solid white;*/
	height: 500px;
	/*width: 80%;
	padding: 5%*/;
}

table {
	background-color:  ;
	height: 200px;
	width: 200px;
}
/*tr {

	background-color: white;

}*/
.minefiled {
	line-height: 0;
	border-spacing: 0;
}

.minefiled td {
	padding: 0;

}
button {
	background-color:white;
	color: black;
}

.tile {
	background-color: ;
	opacity:;
}

    nav > ul {
        display: inline;
        float: right;
    }

    #planets-container > div {
        width: 10%;
        padding-bottom: 10%;
    }

} 



