body {
	margin: 0;
	padding: 0;
	background: #030315;
	color: #b4b4bf;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

#memory_board {

	background: ;
	/*border: #999 1px solid;*/
	width: 58em;
	height: 540px;
	padding: 24px;
	margin: 0px auto;
}

#memory_board > div {
	background: blue ;
	color: ;
	/*border: #000 1px solid;*/
	width: 91px;
	height: 91px;
	float: left;
	margin: 5px;
	padding: 20px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
}

#memory_board > div:hover {
	opacity: .8;

