body {
	margin: 0;
	padding: 0;
	background: #030315;
	color: #b4b4bf;
	font-family: 'Roboto', sans-serif;
}

/*===========================*/
/*HEADER*/

header {
	background: #181823;
	color: white;
	padding: 1em;
	opacity: .8;
	border-bottom: 1px solid grey;
	box-shadow: 2px 4px 50px 19px #010104;
}

h1 {
	display: inline;
}

nav > ul {
	display: inline;
	float: right;
}

#login.disabled {
	display: none;
}

nav > ul > li {
	display: inline;
	padding: 1em;
	opacity: .6;
}

nav > ul > li:hover {
	opacity: .9;
	transition-property: 100%;
	transition-duration: 1s;
	transition-timing-function: easeInOutQuart;
}



#login.active {
	display: inline;
}

#logout {
	display: none;
}

#logout.active {
	display: inline;
}
/*===========================*/
/*SIGN IN BOX*/

#signin {
	display: none;
}


#signin.active {
/*	margin: 52% 34%;*/
	display: block;
	background: #4B4B65;
	height: 40%; width: 30%;
	border: 1px solid white;
	text-align: center;
	opacity: .9;
	padding-bottom: 1.5em;
	box-shadow: 2px 4px 50px 19px #010104;
	z-index: 99;
}


#signin > form > input {
	height: 30px; width: 45%;
	background: #9191AD;
	margin: .5em;
}

#signin > form > input:hover {
	background: #4B4B65;
}

#signin > form > button {
	height: 30px; width: 106px;
	background: #9191AD;
	margin: .5em;
}

#signin > form > button:hover {
	background: #4B4B65;
}

/*===========================*/
/*PLANETS*/

#planets-container {
		height: 85%; width: 100%;
/*		border: 1px solid grey;*/
}

#sun {
	background-image: url('http://orig12.deviantart.net/c7d3/f/2013/292/7/5/sun_transparent_background_sun_world_by_royalblueiv-d6r3ze7.png');
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 12%;
	width: 12%;
	margin-top: 16%;
	margin-left: 43%;
	margin-right: 21%;
	z-index: 9;
}

#mercury {
	background-image: url('http://www.veryicon.com/icon/ico/System/Qs%20Vista%20Ready%20Icons/QsMercury.ico');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 5%;
	padding-bottom: 5%;
	margin-left: 45%;
	z-index: 10;
	position: absolute;
	animation: mercuryOrbit 5s linear infinite;
}

#venus {
	background-image: url('http://jplanets.sourceforge.net/images/venus.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 7%;
	padding-bottom: 7%;
	margin-left: 40%;
	z-index: 3;
	position: absolute;
	animation: venusOrbit 7s linear infinite;
}

#earth {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/43/The_Earth_seen_from_Apollo_17_with_transparent_background.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 6%;
	padding-bottom: 6%;
	margin-left: 50%;
	z-index: 4;
	position: absolute;
	animation: earthOrbit 8s linear infinite;
}

#mars {
	background-image: url('http://img3.wikia.nocookie.net/__cb20130916161813/factfinder/images/c/c5/Mars-1-.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 6%;
	padding-bottom: 6%;
	margin-left: 50%;
	z-index: 5;
	position: absolute;
	animation: marsOrbit 7s linear infinite;
}

#jupiter {
	background-image: url('http://www.zaxtor.net/jupiter.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 8%;
	padding-bottom: 8%;
	margin-left: 50%;
	z-index: 6;
	position: absolute;
	animation: jupiterOrbit 5s linear infinite;
}

#saturn {
	background-image: url('http://www.zaxtor.net/Saturn.png');	
	background-size: 100%;
	background-repeat: no-repeat;
	width: 7%;
	padding-bottom: 7%;
	margin-left: 50%;
	z-index: 7;
	position: absolute;
	animation: saturnOrbit 8s linear infinite;
}

#uranus {
	background-image: url('http://3.bp.blogspot.com/-fWJM7KisZXk/T9YzvopmDzI/AAAAAAAAAq0/vDRoopnaVpg/s1600/uranus.png');	
	background-size: 100%;
	background-repeat: no-repeat;
	width: 7%;
	padding-bottom: 7%;
	margin-left: 50%;
	z-index: 8;
	position: absolute;
	animation: uranusOrbit 6s linear infinite;
}

#neptune {
	background-image: url('http://space-facts.com/wp-content/uploads/neptune-transparent-300x300.png');	
	background-size: 100%;
	background-repeat: no-repeat;
	width: 7%;
	padding-bottom: 7%;
	margin-left: 50%;
	z-index: 9;
	position: absolute;
	animation: neptuneOrbit 7s linear infinite;
}

#pluto {
	background-image: url('http://www.icone-gif.com/icone/png/planets/pluto.png');	
	background-size: 100%;
	background-repeat: no-repeat;
	width: 4%;
	padding-bottom: 4%;
	margin-left: 50%;
	z-index: 10;
	position: absolute;
	animation: plutoOrbit 8s linear infinite;
}

/*===========================*/
/*INFO BOX*/

#info-box {
	display: none;
}


#info-box.active {
	display: block;
	position: absolute;
	margin: -15% 34%;
	padding-right: 2em;
	background: #4B4B65;
	height: 14em; width: 30%;
	border: 1px solid white;
	border-radius: 10px;
	opacity: .9;
	padding-bottom: 1.5em;
	z-index: 99;
	box-shadow: 2px 4px 50px 19px #010104;
	transition-property: 100%;
	transition-duration: 1s;
	transition-timing-function: easeInOutQuart;
}


ul {
	list-style: none;
}


/*===========================*/
/*KEYFRAMES FOR ORBITS*/

@keyframes mercuryOrbit {
    from { transform: rotate(0deg) translateX(100px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
}

@keyframes venusOrbit {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes earthOrbit {
    from { transform: rotate(0deg) translateX(180px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(180px) rotate(-360deg); }
}

@keyframes marsOrbit {
    from { transform: rotate(0deg) translateX(210px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(210px) rotate(-360deg); }
}

@keyframes jupiterOrbit {
    from { transform: rotate(0deg) translateX(220px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(220px) rotate(-360deg); }
}

@keyframes saturnOrbit {
    from { transform: rotate(0deg) translateX(240px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(240px) rotate(-360deg); }
}

@keyframes uranusOrbit {
    from { transform: rotate(0deg) translateX(250px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(250px) rotate(-360deg); }
}

@keyframes neptuneOrbit {
    from { transform: rotate(0deg) translateX(270px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(270px) rotate(-360deg); }
}

@keyframes plutoOrbit {
    from { transform: rotate(0deg) translateX(300px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(300px) rotate(-360deg); }
}





/*===========================*/
/*@MEDIA FOR PLANETS TO GO BEHIND SUN*/

@media (min-width: 21%) {
    #mercury {
        border: red;
        z-index: 8;
    }
}


