<nav>
	<h1>The Planets</h1>
	<ul>
		<li>Hi {{ctrl.user.name}}</li>
		<li>Location: Milky Way</li>
		<li id="login" ng-click="ctrl.revealLogin()" ng-class="(ctrl.displayLogIn) ? 'active' : 'disabled' " >Login</li>
		<!-- Logout should only exist on user sign in -->
		<li ng-click="ctrl.logOut()">Logout</li>
		<li><a href="/games">Games!</a></li>
	<!-- ng-if  -->

		<li id="logout" ng-click="ctrl.logOut()" ng-class="(ctrl.displayLogOut) ? 'active' : 'disabled' ">Logout</li>

<!-- log out ng-click ? -->
	</ul>
</nav>

<!-- ng-if="ctrl.logOutData=null" -->