<nav>
	<h1>The Planets</h1>
	<ul>

		<li id="welcome" ng-click="ctrl.welcome()" ng-class="(ctrl.displayWelcome) ? 'active' : 'disabled' ">Hi {{ctrl.user.name}}</li>

		<li>Location: Milky Way</li>

		<li id="login" ng-click="ctrl.revealLogin()" ng-class="(ctrl.displayLogIn) ? 'active' : 'disabled' " >Login</li>

		<li id="games_link" ng-click="ctrl.Games()" ng-class="(ctrl.displayGames) ? 'active' : 'disabled' "><a href="/games">Games</a></li>

		<li id="logout" ng-click="ctrl.logOut()" ng-class="(ctrl.displayLogOut) ? 'active' : 'disabled' ">Logout</li>

	</ul>
</nav>

