<div id='a' ng-class="(venus.displayFire) ? 'fire' : 'ice' "  ng-click='venus.changeBox()'></div>
<div id='b' ng-class="(venus.displayFire) ? 'fire' : 'ice' "  ng-click='venus.changeBox()'></div>
<div id='c' ng-class="(venus.displayFire) ? 'fire' : 'ice' "  ng-click='venus.changeBox()'></div>
<div id='d' ng-class="(venus.displayFire) ? 'fire' : 'ice' "  ng-click='venus.changeBox()'></div>
<div id='e' ng-class="(venus.displayFire) ? 'fire' : 'ice' "  ng-click='venus.changeBox()'></div>
<div id='f' ng-class="(venus.displayFire) ? 'fire' : 'ice' "  ng-click='venus.changeBox()'></div>
<div id='g' ng-class="(venus.displayFire) ? 'fire' : 'ice' "  ng-click='venus.changeBox()'></div>
<div id='h' ng-class="(venus.displayFire) ? 'fire' : 'ice' "  ng-click='venus.changeBox()'></div>
<div id='i' ng-class="(venus.displayFire) ? 'fire' : 'ice' "  ng-click='venus.changeBox()'></div>
	